In [ ]:
import pandas as pd

In [2]:
# URL of the raw dataset file on GitHub
url = "https://raw.githubusercontent.com/javeriaz15/Video-Recommendation/refs/heads/main/dataset/RS_Fakedata-5-30_users.json"

# Load the data into a DataFrame
data = pd.read_json(url)

# Display the first few rows to verify
print(data.head())

   user_id country         city state  age  \
0        1     USA  Los Angeles    CA   30
1        2     USA     New York    NY   30
2        3     USA  Los Angeles    CA   18
3        4  Canada      Toronto    ON   40
4        5  Canada    Vancouver    BC   18

                                    video_link      genre  watched  liked  \
0  https://www.youtube.com/watch?v=D4vN_5MBEog    hip hop      0.3  False
1  https://www.youtube.com/watch?v=7iqMNnzQPmY     ballet      0.5  False
2  https://www.youtube.com/watch?v=D4vN_5MBEog    hip hop      0.3   True
3  https://www.youtube.com/watch?v=p0VGHuaICyI  classical      0.1  False
4   https://www.youtube.com/shorts/fv5vCREiBMQ      k pop      0.1  False

   skipped
0     True
1     True
2     True
3     True
4     True

In [3]:
# URL of the video catalog file on GitHub

url = "https://raw.githubusercontent.com/javeriaz15/Video-Recommendation/refs/heads/main/dataset/Video_catalog.json"
video_catalog = pd.read_json(url)

# Display the first few rows to verify
print(video_catalog.head())

   video_id                                   video_link      genre  country  \
0         1  https://www.youtube.com/watch?v=D4vN_5MBEog    hip hop      USA
1         2  https://www.youtube.com/watch?v=7iqMNnzQPmY     ballet      USA
2         3  https://www.youtube.com/watch?v=p0VGHuaICyI  classical   Canada
3         4   https://www.youtube.com/shorts/fv5vCREiBMQ      k pop   Canada
4         5   https://www.youtube.com/shorts/kF0MRowRcIM    African  Nigeria

          city age_group
0  Los Angeles     18-35
1     New York     18-35
2      Toronto     35-50
3    Vancouver     18-25
4         Kano     35-50